@charset "UTF-8";
/***/
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, hgroup {
    margin: 0;
    padding: 0;
    border: 0;
    font-family:"Microsoft YaHei", "SimHei", "SimSun";
}
@font-face {
    font-family: 'icomoon';
    src:url('../font/icomoon.eot');
    src:url('../font/icomoon.eot@#iefix') format('embedded-opentype'),
    url('../font/icomoon.woff') format('woff'),
    url('../font/icomoon.ttf') format('truetype'),
    url('../font/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'icomoon';
    font-style: normal;
    -webkit-font-smoothing: antialiased;/*CSS3里面加入了一个“-webkit-font-smoothing”属性。这个属性可以使页面上的字体抗锯齿,使用后字体看起来会更清晰舒服。加上之后就顿时感觉页面小清晰了。*/
    -webkit-text-stroke-width: 0.2px;/*设置或检索对象中的文字的描边厚度*/
    /*-webkit-text-stroke-color:#ff0;*//*设置或检索对象中的文字的描边颜色*/
    -moz-osx-font-smoothing: grayscale;
}
img {display:block;border:0;vertical-align:middle;}
ul {list-style:none;}
html,body {min-height:100%;}
body {font-family:Verdana;-webkit-text-size-adjust:none;}
/*选中后背景色*/
::selection {color:#fff;background:#fd6114;}
::-moz-selection {color:#fff;background:#fd6114;}
a {text-decoration:none;}
a:active,a:hover {outline:0;}
.fl {float:left;}
.fr {float:right;}
.text-left {text-align:left;}
.text-right {text-align:right;}
.text-center {text-align:center;}
.bgf9 {background:#f9f9f9;}
.bgf6 {background:#f6f6f6;}
.bgf3 {background:#f3f3f3;}
.bgf0 {background:#f0f0f0;}
.bgeee {background:#eee;}
.pointer{cursor:pointer;}
.gray{color:#CCC;}
.green{color:#090;}
.red{color:#F00;}
.font-weight-500{font-weight:500;}
.font-weight-600{font-weight:600;}
.font-weight-900{font-weight:900;}

.clearfix:before,.clearfix:after {display:table;content:" ";}
.clearfix:after {clear:both;}
.clearfix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {clear:both;zoom:1;}
.mt10 {margin-top:10px;}
.pt40{padding-top:40px;}
.pt60{padding-top:60px;}

/**/
.layout-container{position:relative;margin:0 auto;overflow:hidden;}
.layout-container{width:94%;}

.layout-wrap {position:relative;width:100%;max-width:640px;min-width:320px;margin:0 auto;box-sizing:border-box;overflow:hidden;}
.layout-wrap img{vertical-align:bottom;}

.lank{ background:#E9F1F4; padding:30px 40px; font-size:16px; line-height:32px;}

/**/

.layout-header{width:100%;background-color:#fff;}
.layout-header h1{text-indent:10px;font-size:16px;font-weight:normal;}
.layout-header h1 img{position:relative;top:0px;display:inline-block;float:left;}
.layout-header a{color:#fff;}
.layout-header .toptel{
    position:absolute;top:0;right:50px;z-index:1000;display:block;width:40px;height:40px;text-indent:-9999em;
    background:url(../images/mobile/icon_tel.fw.png) no-repeat center center;background-size:86%;
}

.layout-footer{text-align:center;line-height:180%;font-size:14px;color:#9f9f9f;clear:both;border-top:1px solid #dfdfdf;background-color:#f0f0f0;padding:10px 10px;}

.wap-header{clear:both;background-color:#fff;padding:10px 7px;}
.wap-header .logo{margin-top:3px;margin-right:10px;height:20px;}
.wap-header .logo2{height:24px;}
.wap-header .tel{height:30px;}

.wap-footer{clear:both;background-color:#000;padding:12px 7px;}
.wap-footer .logo{margin-top:3px;margin-right:10px;height:20px;}
.wap-footer .logo2{height:24px;}
.wap-footer .other{height:24px;}
.wap-footer .tel{margin-right:10px;height:30px;}

/**/
a.pmore{
    display:block;text-align:center;
    position:absolute;left:50%;bottom:1px;margin-left:30px;z-index:999;width:70px;height:20px;line-height:20px;font-size:12px;border-radius:10px;
}

/**/
.step0{position:relative;z-index:9;}
.step0 a.zero{position:absolute;top:105px;z-index:6;display:block;width:70px;height:24px;line-height:24px;border-radius:5px;font-size:14px;text-align:center;color:#fff;}
.step0 a.one{left:20px;background-color:#f00;}
.step0 a.two{left:97px;background-color:#fbb03b;}
.step0 a.three{left:174px;background-color:#006837;}

.step0 a.four{left:97px;top:136px;background-color:#fbb03b;}
.step0 a.five{left:174px;top:136px;background-color:#006837;}

.step0 a:hover{color:#fff;text-decoration:underline;}
.step0 img{position:relative;z-index:0;}

/**/
.step1,.step2,.step3,.step4,.step5,.step6,.step7,.step8,.step9,.step10,.step11{position:relative;}
.step1 .bg,.step2 .bg,.step3 .bg,.step4 .bg,.step5 .bg,.step6 .bg,.step7 .bg,.step8 .bg,.step9 .bg,.step10 .bg,.step11 .bg{position:relative;z-index:1;}

/**/
.step1 .t1{position:absolute;left:50px;top:6px;z-index:3;width:64px;}
.step1 .t2{position:absolute;right:45px;top:6px;z-index:3;width:188px;}
.step1 .women{position:absolute;left:20px;bottom:0;z-index:6;width:80px;}
.step1 .man{position:absolute;right:44px;bottom:0;z-index:6;width:50px;}

/**/
.step2 .t1{position:absolute;left:60px;top:8px;z-index:3;width:164px;}
.step2 .t2{position:absolute;right:84px;top:76px;z-index:3;width:120px;}
.step2 .car{position:absolute;left:90px;bottom:0;z-index:6;width:80px;}

/**/
.step3 .t1{position:absolute;left:60px;top:18px;z-index:3;width:136px;}
.step3 .t2{position:absolute;right:84px;top:80px;z-index:6;width:170px;}
.step3 .women{position:absolute;left:20px;bottom:0;z-index:6;width:80px;}
.step3 .man{position:absolute;right:34px;bottom:0;z-index:3;width:100px;}

/**/
.step4 .t1{position:absolute;left:60px;top:8px;z-index:3;width:80px;}
.step4 .t2{position:absolute;right:50px;top:16px;z-index:3;width:120px;}
.step4 .car{position:absolute;left:100px;bottom:0;z-index:6;width:80px;}
.step4 .hand{position:absolute;left:120px;bottom:0;z-index:2;width:100px;}

/**/
.step5 .pig{position:absolute;left:142px;top:30px;z-index:3;width:120px;}
.step5 .t2{position:absolute;right:15px;bottom:0;z-index:3;width:168px;}
.step5 .road{position:absolute;right:0;top:0;z-index:6;width:85px;}

/**/
.step6 .t1{position:absolute;left:20px;bottom:0;z-index:3;width:104px;}
.step6 .t2{position:absolute;right:94px;top:86px;z-index:3;width:140px;}
.step6 .person{position:absolute;left:136px;top:10px;z-index:6;width:90px;}

/**/
.step7 .key{position:absolute;right:14px;bottom:0;z-index:3;width:130px;}
.step7 .t2{position:absolute;right:78px;top:12px;z-index:3;width:130px;}
.step7 .road{position:absolute;right:0;top:0;z-index:6;width:85px;}

/**/
.step8 .t1{position:absolute;left:100px;top:14px;z-index:3;width:100px;}
.step8 .t2{position:absolute;right:100px;top:40px;z-index:3;width:120px;}
.step8 .person{position:absolute;left:40px;bottom:0;z-index:3;width:80px;}
.step8 .docter{position:absolute;right:55px;bottom:-1px;z-index:6;width:50px;}

/**/
.step9 .t1{position:absolute;left:86px;top:24px;z-index:3;width:130px;}
.step9 .t2{position:absolute;right:150px;bottom:20px;z-index:3;width:124px;}

/**/
.step10 .t1{position:absolute;left:30px;bottom:0;z-index:3;width:172px;}
.step10 .t2{position:absolute;right:17px;bottom:0;z-index:3;width:230px;}

/**/
.step11 .t1{position:absolute;left:80px;top:12px;z-index:3;width:100px;}
.step11 .t2{position:absolute;right:90px;bottom:36px;z-index:3;width:166px;}



/*

	.wap-header{padding:12px 7px;}
	.wap-header .logo{height:30px;}
    .wap-header .logo2{height:34px;}
    .wap-header .tel{height:40px;}

    .wap-footer{padding:12px 7px;}
    .wap-footer .logo{height:30px;}
    .wap-footer .logo2{height:34px;}
    .wap-footer .other{height:34px;}
    .wap-footer .tel{height:40px;}

	.step0 a{top:200px;width:100px;height:40px;line-height:40px;font-size:18px;border-radius:12px;}
    .step0 a.one{left:34px;}
    .step0 a.two{left:160px;}
    .step0 a.three{left:286px;}

*/

/*
@media screen and (min-width:768px) {
	.layout-wrap {width:750px;}

	.wap-header{padding:16px 24px;}
	.wap-header .logo{height:40px;}
    .wap-header .logo2{height:44px;}
    .wap-header .tel{height:50px;}

    .wap-footer{padding:16px 24px;}
    .wap-footer .logo{height:40px;}
    .wap-footer .logo2{height:44px;}
    .wap-footer .other{height:44px;}
    .wap-footer .tel{height:50px;}

	.step0 a{top:236px;width:120px;height:40px;line-height:40px;font-size:18px;border-radius:12px;}
    .step0 a.one{left:44px;}
    .step0 a.two{left:190px;}
    .step0 a.three{left:336px;}

	a.pmore{position:absolute;left:50%;bottom:8px;margin-left:120px;width:96px;height:26px;line-height:26px;font-size:16px;border-radius:15px;}

	.step1 .t1{position:absolute;left:115px;top:15px;z-index:3;width:134px;}
    .step1 .t2{position:absolute;right:125px;top:15px;z-index:3;width:354px;}
	.step1 .women{position:absolute;left:26px;bottom:0;z-index:6;width:174px;}
    .step1 .man{position:absolute;right:89px;bottom:0;z-index:6;width:100px;}

	.step2 .t1{position:absolute;left:130px;top:12px;z-index:3;width:300px;}
    .step2 .t2{position:absolute;right:184px;top:190px;z-index:3;width:220px;}
    .step2 .car{position:absolute;left:180px;bottom:0;z-index:6;width:136px;}

	.step3 .t1{position:absolute;left:100px;top:68px;z-index:3;width:224px;}
    .step3 .t2{position:absolute;right:200px;top:200px;z-index:6;width:340px;}
    .step3 .women{position:absolute;left:50px;bottom:0;z-index:6;width:150px;}
    .step3 .man{position:absolute;right:72px;bottom:0;z-index:3;width:200px;}

	.step4 .t1{position:absolute;left:116px;top:20px;z-index:3;width:147px;}
    .step4 .t2{position:absolute;right:110px;top:47px;z-index:3;width:222px;}
    .step4 .car{position:absolute;left:200px;bottom:0;z-index:6;width:200px;}
    .step4 .hand{position:absolute;left:240px;bottom:-2px;z-index:1;width:240px;}

    .step5 .pig{position:absolute;left:294px;top:62px;z-index:3;width:252px;}
    .step5 .t2{position:absolute;right:20px;bottom:0;z-index:3;width:320px;}
	.step5 .road{position:absolute;right:0;top:0;z-index:6;width:176px;}

    .step6 .t1{position:absolute;left:50px;bottom:0;z-index:3;width:219px;}
    .step6 .t2{position:absolute;right:210px;top:210px;z-index:3;width:286px;}
    .step6 .person{position:absolute;left:278px;top:12px;z-index:6;width:236px;}

	.step7 .key{position:absolute;right:40px;bottom:0;z-index:3;width:258px;}
    .step7 .t2{position:absolute;right:188px;top:32px;z-index:3;width:230px;}
	.step7 .road{position:absolute;right:0;top:0;z-index:6;width:174px;}

    .step8 .t1{position:absolute;left:250px;top:20px;z-index:3;width:232px;}
    .step8 .t2{position:absolute;right:230px;top:76px;z-index:3;width:230px;}
    .step8 .person{position:absolute;left:80px;bottom:0;z-index:6;width:180px;}
    .step8 .docter{position:absolute;right:107px;bottom:-1px;z-index:6;width:118px;}

    .step9 .t1{position:absolute;left:190px;top:60px;z-index:3;width:230px;}
    .step9 .t2{position:absolute;right:312px;bottom:74px;z-index:3;width:224px;}

    .step10 .t1{position:absolute;left:78px;bottom:0;z-index:3;width:350px;}
    .step10 .t2{position:absolute;right:32px;bottom:0;z-index:3;width:480px;}

    .step11 .t1{position:absolute;left:130px;top:12px;z-index:3;width:212px;}
    .step11 .t2{position:absolute;right:200px;bottom:94px;z-index:3;width:336px;}
}


@media screen and (min-width:992px) {
	.layout-wrap {width:970px;}

	.wap-header{padding:16px 24px;}
	.wap-header .logo{height:50px;}
    .wap-header .logo2{height:54px;}
    .wap-header .tel{height:60px;}

    .wap-footer{padding:16px 24px;}
    .wap-footer .logo{height:50px;}
    .wap-footer .logo2{height:54px;}
    .wap-footer .other{height:54px;}
    .wap-footer .tel{height:60px;}

	.step0 a{top:300px;width:140px;height:48px;line-height:48px;font-size:24px;border-radius:12px;}
    .step0 a.one{left:54px;}
    .step0 a.two{left:220px;}
    .step0 a.three{left:386px;}

	a.pmore{position:absolute;left:50%;bottom:8px;margin-left:120px;width:96px;height:36px;line-height:36px;font-size:16px;border-radius:15px;}

	.step1 .t1{position:absolute;left:145px;top:15px;z-index:3;width:180px;}
    .step1 .t2{position:absolute;right:170px;top:15px;z-index:3;width:460px;}
	.step1 .women{position:absolute;left:26px;bottom:0;z-index:6;width:214px;}
    .step1 .man{position:absolute;right:114px;bottom:0;z-index:6;width:144px;}

	.step2 .t1{position:absolute;left:130px;top:12px;z-index:3;width:400px;}
    .step2 .t2{position:absolute;right:240px;top:260px;z-index:3;width:250px;}
    .step2 .car{position:absolute;left:244px;bottom:0;z-index:6;width:200px;}

	.step3 .t1{position:absolute;left:130px;top:68px;z-index:3;width:280px;}
    .step3 .t2{position:absolute;right:240px;top:270px;z-index:6;width:400px;}
    .step3 .women{position:absolute;left:50px;bottom:0;z-index:6;width:200px;}
    .step3 .man{position:absolute;right:92px;bottom:0;z-index:3;width:240px;}

	.step4 .t1{position:absolute;left:146px;top:20px;z-index:3;width:180px;}
    .step4 .t2{position:absolute;right:150px;top:66px;z-index:3;width:270px;}
    .step4 .car{position:absolute;left:276px;bottom:0;z-index:6;width:230px;}
    .step4 .hand{position:absolute;left:302px;bottom:-2px;z-index:1;width:320px;}

    .step5 .pig{position:absolute;left:380px;top:77px;z-index:3;width:327px;}
    .step5 .t2{position:absolute;right:40px;bottom:0;z-index:3;width:450px;}
	.step5 .road{position:absolute;right:0;top:0;z-index:6;width:227px;}

    .step6 .t1{position:absolute;left:50px;bottom:0;z-index:3;width:290px;}
    .step6 .t2{position:absolute;right:280px;top:270px;z-index:3;width:300px;}
    .step6 .person{position:absolute;left:370px;top:22px;z-index:6;width:286px;}

	.step7 .key{position:absolute;right:53px;bottom:0;z-index:3;width:330px;}
    .step7 .t2{position:absolute;right:218px;top:40px;z-index:3;width:270px;}
	.step7 .road{position:absolute;right:0;top:0;z-index:6;width:225px;}

    .step8 .t1{position:absolute;left:280px;top:40px;z-index:3;width:260px;}
    .step8 .t2{position:absolute;right:280px;top:106px;z-index:3;width:280px;}
    .step8 .person{position:absolute;left:100px;bottom:0;z-index:6;width:220px;}
    .step8 .docter{position:absolute;right:154px;bottom:-1px;z-index:6;width:124px;}

    .step9 .t1{position:absolute;left:230px;top:60px;z-index:3;width:270px;}
    .step9 .t2{position:absolute;right:410px;bottom:74px;z-index:3;width:290px;}

    .step10 .t1{position:absolute;left:78px;bottom:0;z-index:3;width:450px;}
    .step10 .t2{position:absolute;right:52px;bottom:0;z-index:3;width:590px;}

    .step11 .t1{position:absolute;left:160px;top:12px;z-index:3;width:242px;}
    .step11 .t2{position:absolute;right:248px;bottom:114px;z-index:3;width:448px;}
}


@media screen and (min-width:1200px) {
	.layout-wrap {width:1170px;}

	.wap-header{padding:16px 24px;}
	.wap-header .logo{height:50px;}
    .wap-header .logo2{height:54px;}
    .wap-header .tel{height:60px;}

    .wap-footer{padding:16px 24px;}
    .wap-footer .logo{height:50px;}
    .wap-footer .logo2{height:54px;}
    .wap-footer .other{height:54px;}
    .wap-footer .tel{height:60px;}

	.step0 a{top:370px;width:156px;height:48px;line-height:48px;font-size:24px;border-radius:12px;}
    .step0 a.one{left:64px;}
    .step0 a.two{left:260px;}
    .step0 a.three{left:460px;}
}
*/
/*播放按钮*/
#musicmp3{
    position:fixed;
    right:10px;
    top:10px;
    z-index:200;
    width:40px;
    height:40px;
}
/*
#musicmp3 #audio-btn{
	width:40px;
	height:40px;
	background-size: 100% 100%;
}
#musicmp3 .on{
	background:url(../images/mobile/music_on.png) no-repeat 0 0;
	-webkit-animation: rotating 1.2s linear infinite;
	animation: rotating 1.2s linear infinite;
}
#musicmp3 .off{
	background:url(../images/mobile/music_off.png) no-repeat 0 0;
}
*/
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes video_btnPlay{
    0%{-webkit-transform: scale(1); opacity: 0.8;}
    100%{-webkit-transform: scale(2); opacity: 0.3;}
}
@-moz-keyframes video_btnPlay{
    0%{-moz-transform: scale(1); opacity: 0.8;}
    100%{-moz-transform: scale(2); opacity: 0.3;}
}
@keyframes video_btnPlay{
    0%{transform: scale(1); opacity: 0.8;}
    100%{transform: scale(2); opacity: 0.3;}
}

/**/
.article-bg{background:#3282d9 url(../images/mobile/article-bg.jpg) no-repeat center top;background-size:100%;}

/**/

.layout-nav{background-color:#2c929c;}
.layout-nav ul{overflow:hidden;}
.layout-nav li{float:left;width:25%;text-align:center;}
.layout-nav li a{
    display:block;padding:15% 0px;font-size:12px;color:#fff;margin-top:1px;position:relative;
    background-color:#2c929c;
    background-image:-moz-linear-gradient(top , #329faa , #2c929c);
    background-image:-webkit-linear-gradient(top , #329faa , #2c929c);
    background-image:-o-linear-gradient(top , #329faa , #2c929c);
    background-image:-ms-linear-gradient(top , #329faa , #2c929c);
    background-image:linear-gradient(top , #329faa , #2c929c);
}
.layout-nav li a:after{content:'';position:absolute;top:0;right:-2px;z-index:9;height:100%;width:0px;border-left:1px solid #2c929c;border-right:1px solid #329faa;}

/**/
table.page-table{width:100%;position:relative;border-top:1px solid #efefef;}
table.page-table th,table.page-table td{border-bottom:1px solid #efefef;border-left:1px solid #efefef;text-align:center;font-size:14px;padding:3px;}
table.page-table th{background-color:#f9f9f9;height:30px;line-height:30px;font-weight:normal;color:#999;}
table.page-table th:first-child,table.page-table td:first-child{border-left:0;}

/**/

body.login-reg{
    position:relative;display:block;min-width:320px;max-width:750px;width:100%;height:auto!important;margin:0 auto;font-family:"微软雅黑","宋体",Arial,Helvetica,sans-serif;
    background:url(../images/mobile/page-login-bg.jpg) no-repeat center;background-size:100% 100%;
}

/*member login reg*/
.page-login-banner{clear:both;width:100%;position:relative;z-index:99999;}
.page-login-bg{position:relative;clear:both;width:100%;min-height:600px;padding-top:50px;}
.page-login-bg img.logo{position:relative;display:block;width:212px;height:67px;margin:0 auto 100px;}
.page-login-bg .phone{display:inline-block;width:20px;height:20px;background:url(../images/mobile/icon-phone.png) no-repeat center;background-size:100% 100%;position:relative;top:3px;}
.page-login-bg .lock{display:inline-block;width:20px;height:20px;background:url(../images/mobile/icon-lock.png) no-repeat center;background-size:100% 100%;position:relative;top:3px;}
.page-login-bg .yzm{display:inline-block;width:20px;height:20px;background:url(../images/mobile/icon-yzm9.png) no-repeat center;background-size:100% 100%;position:relative;top:3px;}
.page-login-bg dl{position:relative;z-index:999;list-style:none;border-bottom:1px solid #fff;width:90%;height:42px;line-height:40px;margin:15px auto 0;}
.page-login-bg dl dt,.page-login-bg dl dd{position:relative;list-style:none;float:left;font-size:16px;color:#333;}
.page-login-bg dl dt{width:40px;text-align:center;font-size:16px;}
.page-login-bg dl dd{width:86%;float:right;}
.page-login-bg dl dd input{position:relative;border:none;background-color:transparent;width:100%;color:#333;font-size:16px;}
.page-login-bg dl dd a.messcode{position:absolute;right:0;top:0;color:#fff;}
.page-login-bg dl dd img.login-yzm{position:absolute;right:0;top:0;}
.page-login-bg a.page-btn{width:90%;height:42px;line-height:42px;display:block;border:none;margin:5% auto 5%;color:#d74a7f;font-size:18px;text-align:center;background-color:#fff;-webkit-border-radius:21px;border-radius:21px;}
.page-login-bg .page-login-other{position:relative;margin-top:5%;clear:both;text-align:center;}
.page-login-bg .page-login-other a{font-size:16px;color:#fff;}
.page-login-bg .page-login-other i{font-style:normal;display:inline-block;padding-left:24px;padding-right:24px;color:#fff;}
.page-login-bg .page-login-other a.now{border:1px solid #fff;border-radius:24px;padding:5px 15px;}
.page-login-bg .page-reg-btn{position:relative;clear:both;width:90%;margin:auto;}
.page-login-bg .page-reg-btn a.page-btn{float:left;width:120px;height:42px;line-height:42px;text-align:center;background-color:#fff;-webkit-border-radius:5px;border-radius:5px;}
.page-login-bg .page-reg-btn a.logining{position:relative;float:right;display:inline-block;margin:10% auto 5%;line-height:42px;color:#fff;font-size:18px;}

/*member public head*/
.page-member-head{position:relative;z-index:1;width:100%;height:240px;margin:auto;}
.page-member-head .member-head-banner{position:relative;z-index:1;margin:auto;}
.page-member-head .member-head-info{position:absolute;left:0;top:0;z-index:99;width:100%;height:180px;}
.page-member-head .member-head-info b.user{
    position:relative;top:20px;display:block;width:50px;height:50px;float:right;margin-right:10px;
    -webkit-border-radius:100%;border-radius:100%;text-align:center;
}
.page-member-head .member-head-info b.user img{position:relative;top:3px;display:block;margin:auto;width:50px;height:50px;-webkit-border-radius:100%;border-radius:100%;}
.page-member-head .page-refresh-icon{position:absolute;right:15px;top:10px;z-index:999;}
.page-member-head .page-refresh-icon i{font-size:30px;font-weight:bold;color:#fff;}
.page-member-head .member-head-info .crown{
    position:relative;top:140px;list-style:none;width:136px;height:36px;line-height:36px;margin:auto;background-color:#fb6a7f;
    -webkit-border-radius:18px;border-radius:18px;display:none;
}
.page-member-head .member-head-info .crown i{
    display:block;width:36px;height:36px;float:left;margin-left:5px;font-style:normal;text-align:center;
    background:url(../images/mobile/crown1.png) no-repeat center;background-size:100% 100%;
}
.page-member-head .member-head-info .crown i span{position:relative;top:3px;font-size:14px;color:#d52f45;font-family:Arial,Helvetica,sans-serif;}
.page-member-head .member-head-info .crown p{display:inline-block;float:left;color:#fff;font-size:16px;padding-left:5px;}
.page-member-head .member-head-info dl{position:relative;top:150px;list-style:none;text-align:center;font-size:18px;line-height:150%;display:none;}
.page-member-head .member-head-info dl span{font-family:Verdana,Geneva,sans-serif;}
.page-member-head .member-head-info .infromation{position:relative;top:130px;height:42px;line-height:42px;font-size:14px;padding-left:5px;background-color:#f0f0f0;color:#555;}
.page-member-head .member-head-info .infromation img.tx{position:relative;top:12px;float:left;margin-right:5px;}
.page-member-head .member-head-info .infromation a.chongzhi{display:inline-block;float:right;background-color:#09f;padding:0 15px;color:#fff;font-size:12px;}
.page-member-head .member-head-info .infromation span{color:#debb01;padding-left:15px;}


/*轮播图*/
.box_swipe{overflow:hidden;position:relative;width:100%;z-index:1;}
.box_swipe ul{-webkit-padding-start:0px;list-style:none outside none;width:4480px;transition-duration:500ms;transform:translate3d(-1920px,0px,0px);}
.box_swipe ul li img{width:100%;border:0;}
.box_swipe>ol{display:block;width:98%;height:20px;position:absolute;z-index:10;margin-top:-25px;padding-right:50px;}
.box_swipe>ol>li{display:inline-block;margin:5px 0;width:10px;height:10px;background-color:#757575;border-radius:10px;}
.box_swipe>ol>li.on{background-color:#ffffff;}


/*page-member-boxlist*/
.page-member-boxlist{position:relative;list-style:none;padding-top:3%;}
.page-member-boxlist li{position:relative;list-style:none;width:33.333333%;float:left;text-align:center;padding:3% 0;}
.page-member-boxlist li img{width:80px;height:80px;display:block;margin:auto;}
.page-member-boxlist li b{text-align:center;font-size:14px;display:inline-block;padding-top:10px;font-weight:normal;}
.page-member-boxlist .member-boxlist-product{width:80px;height:80px;margin:auto;}

/*page-member-infor*/
img.icon-img-member{width:100px;height:100px;display:block;position:relative;margin:auto;-webkit-border-radius:100%;border-radius:100%;padding-bottom:15px;}
.page-member-infor{position:relative;clear:both;padding:3% 2%;}
.page-member-infor .member-figure{position:relative;width:100%;height:42px;line-height:42px;margin:10px auto 0;color:#5e271b;padding-bottom:10px;border-bottom:1px solid #dfdfdf;}
.page-member-infor .member-figure span{position:relative;float:left;}
.page-member-infor .member-figure img{width:40px;height:40px;display:block;position:relative;float:left;-webkit-border-radius:100%;border-radius:100%;}
.page-member-infor .member-figure button{position:relative;float:right;}
.page-member-infor ul{position:relative;list-style:none;}
.page-member-infor ul li{position:relative;list-style:none;width:48%;}
.page-member-infor dl{position:relative;z-index:999;list-style:none;border-bottom:1px solid #dfdfdf;width:100%;height:42px;line-height:40px;padding:6px 0;}
.page-member-infor dl dt,.page-member-infor dl dd{position:relative;list-style:none;float:left;color:#ff5d8f;}
.page-member-infor dl dt{width:24px;text-align:center;font-size:16px;}
.page-member-infor dl dd{width:72%;float:left;}
.page-member-infor dl dd input{position:relative;border:none;background-color:transparent;width:100%;color:#000;font-size:16px;}
.page-member-infor dl dd span{position:relative;float:left;display:inline-block;width:80px;}
.page-member-infor dl dd select{position:relative;top:8px;float:left;display:block;font-size:15px;}
.page-member-infor dl dd a.messcode{position:absolute;right:0;top:0;color:#fff;}
.page-member-infor button.page-btn{
    width:148px;height:42px;line-height:42px;display:block;border:none;margin:5% auto;color:#fff;font-size:20px;text-align:center;cursor:pointer;
    -webkit-border-radius:21px;border-radius:21px;box-shadow:0 1px 2px #333;
    background-color:#0d6cac;
    background-image:-moz-linear-gradient(top,#1c89d2,#0d6cac);
    background-image:-webkit-linear-gradient(top,#1c89d2,#0d6cac);
    background-image:-o-linear-gradient(top,#1c89d2,#0d6cac);
    background-image:-ms-linear-gradient(top,#1c89d2,#0d6cac);
    background-image:linear-gradient(top,#1c89d2,#0d6cac);
}

/**/
.layout-upnext{position:relative;clear:both;padding:2%;margin-top:3%;border:0px dashed #84ccfc;}
.layout-upnext p{position:relative;font-size:14px;padding:5px 0;}
.layout-upnext p a{font-size:14px;color:#666;}

/*分页*/
.pagination{margin:20px auto;border-radius:4px;font-size:16px;text-align:center;}
.pagination>i{display:inline-block;font-style:normal;}
.pagination>i>a,.pagination>i>span{
    position:relative;font-size:16px;padding:6px 12px;line-height:1.42857143;margin-left:-1px;color:#428bca;text-decoration:none;
    background-color:#fff;border:1px solid #ddd;display:inline-block;
}
.pagination>i:first-child>a,.pagination>i:first-child>span{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px;display:inline-block;}
.pagination>i:last-child>a,.pagination>i:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px;display:inline-block;}
.pagination>i>a:hover,.pagination>i>span:hover,.pagination>i>a:focus,.pagination>i>span:focus{color:#2a6496;background-color:#eee;border-color:#ddd;display:inline-block;}
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{
    z-index:2;color:#fff;cursor:default;background-color:#428bca;border-color:#428bca;display:inline-block;
}

/**/

.layout-text{position:relative;padding:10px 15px;margin:0 auto 10px;color:#fff;}
.layout-text .title{font-size:14px;line-height:180%;text-align:center;}
.layout-text .big-title{padding-left:18%;padding-right:5%;padding-top:16px;height:44px;overflow:hidden;font-size:18px;color:#fff;line-height:22px;}
.layout-text .small-title{width:100%;font-size:12px;color:#999;padding:5px 2%;}
.layout-text .other{color:#b8c5da;padding:5px 0;clear:both;font-size:12px;display:none;}
.layout-text .abstract{padding:1px;color:#555;font-size:15px;line-height:180%;margin:2% auto;border:1px solid #09f;display:none;}
.layout-text .abstract i{color:#f00;}
.layout-text .abstract div{border:1px solid #4ab6fd;padding:1px;}
.layout-text .abstract div div{border:1px solid #84ccfc;padding:10px;}
.layout-text .content{
    line-height:200%;table-layout:fixed;word-wrap:break-word;margin-left:13.5%;margin-top:24px;padding:10px 15px;
    background:url(../images/mobile/content-bg.png);border-radius:20px;
}
.layout-text .content img{max-width:100%;vertical-align:bottom;}

.layout-text .content a.onlyartBtn{
    display:block;width:26.666666%;height:32px;line-height:32px;float:left;
    border-radius:5px;font-size:14px;text-align:center;color:#fff;margin-left:5%;margin-top:20px;
}
.layout-text .content a.one{background-color:#f00;}
.layout-text .content a.two{background-color:#fbb03b;}
.layout-text .content a.three{background-color:#29abe2;}
.layout-text .content table{border-top:1px solid #3282d9;border-left:1px solid #3282d9;font-size:12px;color:#fff;}
.layout-text .content td{border-bottom:1px solid #3282d9;border-right:1px solid #3282d9;font-size:12px;line-height:20px;padding-left:2px;padding-right:2px;}


/**/
.layout-text-shoping{position:relative;background-color:#fff;margin:0 auto 10px;padding:10px 15px;}
.layout-text-shoping .title{font-size:14px;line-height:180%;}
.layout-text-shoping .price{font-size:16px;color:#f00;padding-top:5px;}
.layout-text-shoping .price i{text-decoration:line-through;color:#999;font-style:normal;margin-left:3%;display:inline-block;}
.layout-text-shoping .fwcn{border-top:1px solid #eee;font-size:12px;color:#333;margin-top:10px;padding-top:8px;padding-bottom:3px;}
.layout-text-shoping .fwcn i{color:#090;font-size:11px;}

/**/
.layout-article-time{
    position:relative;width:80px;height:30px;line-height:30px;text-align:center;margin:20px auto 10px;color:#fff;font-size:1em;background-color:#ccc;
    -webkit-border-radius:3px;border-radius:3px;
}
.layout-article-list{border:1px solid #dfdfdf;padding:15px;background-color:#fff;display:block;margin-top:15px;}
.layout-article-list h2{font-size:18px;line-height:160%;color:#333;}
.layout-article-list .ptime{padding:5px 0;height:20px;line-height:20px;font-size:14px;color:#999;}
.layout-article-list .more{color:#333;}
.layout-article-list dl{position:relative;display:block;list-style:none;}
.layout-article-list dl dt,.layout-article-list dl dd{position:relative;list-style:none;width:100%;}
.layout-article-list dl dt img{width:100%;display:block;margin:auto;}
.layout-article-list dl dd{padding:10px 0;font-size:14px;line-height:160%;color:#666;}
.layout-article-list .more{font-size:14px;color:#000;padding-top:10px;}
.layout-article-list p{color:#999;}

/**/
.layout-pic-list,a.layout-pic-list{position:relative;border:1px solid #dfdfdf;padding:15px;background-color:#fff;display:block;margin-top:15px;}
.layout-pic-list>div,a.layout-pic-list>div{position:relative;width:100%;}
.layout-pic-list>div img,a.layout-pic-list>div img{position:relative;width:100%;display:block;margin:auto;}
.layout-pic-list>div i,.layout-pic-list>div p,a.layout-pic-list>div i,a.layout-pic-list>div p{position:absolute;left:0;bottom:0;width:100%;height:36px;display:block;}
.layout-pic-list>div i,a.layout-pic-list>div i{z-index:6;background-color:#000;filter:alpha(opacity=50);opacity:0.5;}
.layout-pic-list>div p,a.layout-pic-list>div p{z-index:9;line-height:36px;color:#fff;text-align:center;font-size:14px;overflow:hidden;}

/**/
.layout-box-list{position:relative;border:1px solid #dfdfdf;padding:15px;background-color:#fff;display:block;margin:0 auto 15px;}
.layout-box-list .layout-pic-first{position:relative;display:block;}
.layout-box-list .layout-pic-first img{position:relative;width:100%;display:block;margin:auto;}
.layout-box-list .layout-pic-first i,.layout-box-list .layout-pic-first p{position:absolute;left:0;bottom:0;width:100%;height:60px;padding:5px 0;display:block;}
.layout-box-list .layout-pic-first i{z-index:6;background-color:#000;filter:alpha(opacity=50);opacity:0.5;}
.layout-box-list .layout-pic-first p{z-index:9;width:94%;padding-left:3%;padding-right:3%;line-height:30px;color:#fff;font-size:16px;overflow:hidden;}
.layout-box-list dl,.layout-box-list dl dt,.layout-box-list dl dd{position:relative;list-style:none;}
.layout-box-list dl{display:block;width:100%;height:50px;padding:10px 0;border-top:1px solid #eee;overflow:hidden;}
.layout-box-list dl:first-child{border-top:0;}
.layout-box-list dl dt{width:75%;float:left;line-height:25px;}
.layout-box-list dl a dt{font-size:15px;color:#333;}
.layout-box-list dl dd{width:20%;float:right;}
.layout-box-list dl dd img{width:100%;height:50px;display:block;margin:auto;border-radius:5px;}

/**/
dl.layout-shop-list{position:relative;display:block;margin-top:10px;background-color:#fff;}
dl.w48{width:47%;margin-left:2%;float:left;}
dl.layout-shop-list dt,dl.layout-shop-list dd{position:relative;list-style:none;overflow:hidden;}
dl.layout-shop-list dt{width:100%;height:130px;}
dl.layout-shop-list dt img{width:100%;height:130px;}
dl.layout-shop-list dd{height:66px;padding:0 5px;}
dl.layout-shop-list dd h3{padding-top:5px;font-size:14px;height:30px;line-height:30px;text-align:center;overflow:hidden;}
dl.layout-shop-list dd p{width:100%;height:30px;line-height:30px;}
dl.layout-shop-list dd p span{font-size:16px;color:#f60;margin-left:5px;}
dl.layout-shop-list dd p span i{font-style:normal;font-size:10px;}
dl.layout-shop-list dd p i.cart{float:right;margin-right:5px;}

/**/
.layout-btn,a.layout-btn {
    width:180px;height:40px;line-height:40px;text-align:center;color:#fff;font-size:16px;letter-spacing:4px;display:block;margin:48px auto 0;
    -webkit-border-radius:20px;border-radius:20px;background-color:#5a2416;
}
.layout-btn:hover,a.layout-btn:hover {background-color:#a50000;}

/**/
.layout-title{width:100%;height:42px;line-height:42px;margin:0 auto 10px;border-bottom:1px dashed #f6f6f6;}
.layout-title span{font-size:14px;}
.layout-title i{color:#06f;margin-left:5px;}
.layout-title a{color:#999;font-size:12px;float:right;margin-right:5px;}

/**/
.layout-list-news{width:90%;margin:0 auto;border-top:1px dashed #eee;}
.layout-list-news li{
    border-bottom:1px dashed #eee;overflow:hidden;height:42px;line-height:42px;padding-left:14px;
    background:url(../images/public/arrow_list_hover1.gif) no-repeat center left;
}
.layout-list-news li a{font-size:14px;}
.layout-list-news li span{float:right;font-size:14px;color:#999;}

/**/
.layout-show,.layout-show li{position:relative;list-style:none;}
.layout-show{border-bottom:10px solid #f0f0f0;}
.layout-show li{width:50%;float:left;text-align:center;margin-bottom:10px;}
.layout-show li img{display:block;width:86%;height:120px;margin:auto;border-radius:5px;}
.layout-show li p{width:90%;height:36px;line-height:30px;margin:auto;overflow:hidden;}
.layout-show li a{font-size:14px;color:#666;}
.layout-show li.xs3{width:25%;}
.layout-show li.xs3 img{width:72px;height:72px;}
.layout-show li.xs3 p{font-size:12px;}

/**/
.layout-showpic{position:relative;width:260px;}
.layout-showpic a img{position:relative;width:260px;height:146px;display:block;margin:auto;}
.layout-showpic a{position:relative;display:block;width:100%;height:194px;color:#333;}
.layout-showpic a p{display:block;height:48px;line-height:48px;font-size:14px;text-align:center;overflow:hidden;}
.layout-showpic a i{
    position:absolute;top:0;left:0;width:100%;height:0;overflow:hidden;background:#000;filter:alpha(opacity=50);opacity:0.5;cursor:pointer;
    -webkit-transition:ease height .4s,padding-top .4s;-moz-transition:ease height .4s,padding-top .4s;
    -ms-transition:ease height .4s,padding-top .4s;-o-transition:ease height .4s,padding-top .4s;transition:ease height .4s,padding-top .4s;
}
.layout-showpic:hover a i{height:146px;cursor:pointer;background:#000 url(../images/front/eye.png) no-repeat center;filter:alpha(opacity=50);opacity:0.5;}

/*about page*/

.layout-about{position:relative;padding:2% 2% 5%;font-size:13px;color:#333;background-color:#f9f9f9;border-top:5px solid #dfdfdf;}
.layout-about b{color:#222;}
.layout-about h4{display:block;width:123px;height:54px;line-height:44px;text-align:center;color:#222;margin-bottom:10px;background:url(../images/mobile/a-tbg.jpg) no-repeat left center;}
.layout-about strong{color:#ddd;font-weight:normal;text-align:center;padding:10px 0;margin-bottom:10px;display:inline-block;width:100%;border-bottom:1px dashed #efefef;}
.layout-about h2{text-align:center;padding-top:3%;}
.layout-about p{text-indent:2em;line-height:240%;}
.layout-about i{font-style:normal;color:#f90;}

/* Common styles of menus */

.dl-menuwrapper {
    position: absolute;left:20px;top:105px;z-index:6999999;display:block;width:78px;height:24px;line-height:24px;border-radius:5px;font-size:14px;padding-top:24px;
    /*width: 100%;
    max-width: 200px;
    float: right;
    position: absolute;
    top:0;
    right:0;
    padding-top: 40px;
    z-index: 999;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 200%;
    -moz-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%;*/
}

.dl-menuwrapper:first-child {
    margin-right: 100px;
}

.dl-menuwrapper button {
    /*background: url(../images/header-bg.png) repeat-x bottom left;*/
    border: none;
    width: 70px;
    height: 24px;line-height:24px;
    /*text-indent: -900em;*/
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    cursor: pointer;
    outline: none;background-color:#f00;color:#fff;border-radius:5px
    /*background: #338dcc url(../images/mobile/menu-button-bg.png) no-repeat center center;
    background-size: 50%;*/

}

.dl-menuwrapper button:hover ,
.dl-menuwrapper button.dl-active {
    background-color: #2f83bd;
}

.dl-menuwrapper ul {
    background: #2f83bd;position:relative;right:4px;
}

/*
.dl-menuwrapper button:after {
	content: '';
	position: absolute;
	width: 60%;
	height: 4px;
	background: #fff;
	top: 12px;
	left: 22%;
	box-shadow:
		0 10px 0 #fff,
		0 20px 0 #fff;
}
*/

.dl-menuwrapper ul {
    padding: 0;
    list-style: none;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.dl-menuwrapper li {
    position: relative;text-align:center;
}

.dl-menuwrapper li a {
    display: block;
    position: relative;

    padding:3px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
    border-top:1px solid #3289c6;
    border-bottom:1px solid #2d7fb9;
    outline: none;
}

.no-touch .dl-menuwrapper li a:hover {
    background: rgba(255,248,213,0.1);
}

.dl-menuwrapper li.dl-back > a {
    padding-left: 30px;
    background: rgba(0,0,0,0.1);
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
    position: absolute;
    top: 0;
    line-height:30px;
    font-family: 'icomoon';
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\e000";
}

.dl-menuwrapper li.dl-back:after {
    left: 10px;
    color: rgba(255,255,255,0.8);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
    right: 10px;
    color: rgba(255,255,255,0.8);
}

.dl-menuwrapper .dl-menu {
    margin: 0px 0 0 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    z-index:999;
    pointer-events: none;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
    display: none;
}

/*
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link.
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
    display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
    display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
    position: absolute;
    width: 100%;
    top: 40px;
    left: 0;
    z-index:999;
    margin: 0;
}

/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-1 {
    -webkit-animation: MenuAnimOut1 0.4s;
    -moz-animation: MenuAnimOut1 0.4s;
    animation: MenuAnimOut1 0.4s;
}

.dl-menu.dl-animate-out-2 {
    -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
    -moz-animation: MenuAnimOut2 0.3s ease-in-out;
    animation: MenuAnimOut2 0.3s ease-in-out;
}

.dl-menu.dl-animate-out-3 {
    -webkit-animation: MenuAnimOut3 0.4s ease;
    -moz-animation: MenuAnimOut3 0.4s ease;
    animation: MenuAnimOut3 0.4s ease;
}

.dl-menu.dl-animate-out-4 {
    -webkit-animation: MenuAnimOut4 0.4s ease;
    -moz-animation: MenuAnimOut4 0.4s ease;
    animation: MenuAnimOut4 0.4s ease;
}

.dl-menu.dl-animate-out-5 {
    -webkit-animation: MenuAnimOut5 0.4s ease;
    -moz-animation: MenuAnimOut5 0.4s ease;
    animation: MenuAnimOut5 0.4s ease;
}

@-webkit-keyframes MenuAnimOut1 {
    50% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -webkit-transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimOut2 {
    100% {
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimOut3 {
    100% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimOut4 {
    100% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimOut5 {
    100% {
        -webkit-transform: translateY(40%);
        opacity: 0;
    }
}

@-moz-keyframes MenuAnimOut1 {
    50% {
        -moz-transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -moz-transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        -moz-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@-moz-keyframes MenuAnimOut2 {
    100% {
        -moz-transform: translateX(-100%);
        opacity: 0;
    }
}

@-moz-keyframes MenuAnimOut3 {
    100% {
        -moz-transform: translateZ(300px);
        opacity: 0;
    }
}

@-moz-keyframes MenuAnimOut4 {
    100% {
        -moz-transform: translateZ(-300px);
        opacity: 0;
    }
}

@-moz-keyframes MenuAnimOut5 {
    100% {
        -moz-transform: translateY(40%);
        opacity: 0;
    }
}

@keyframes MenuAnimOut1 {
    50% {
        transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@keyframes MenuAnimOut2 {
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes MenuAnimOut3 {
    100% {
        transform: translateZ(300px);
        opacity: 0;
    }
}

@keyframes MenuAnimOut4 {
    100% {
        transform: translateZ(-300px);
        opacity: 0;
    }
}

@keyframes MenuAnimOut5 {
    100% {
        transform: translateY(40%);
        opacity: 0;
    }
}

.dl-menu.dl-animate-in-1 {
    -webkit-animation: MenuAnimIn1 0.3s;
    -moz-animation: MenuAnimIn1 0.3s;
    animation: MenuAnimIn1 0.3s;
}

.dl-menu.dl-animate-in-2 {
    -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
    -moz-animation: MenuAnimIn2 0.3s ease-in-out;
    animation: MenuAnimIn2 0.3s ease-in-out;
}

.dl-menu.dl-animate-in-3 {
    -webkit-animation: MenuAnimIn3 0.4s ease;
    -moz-animation: MenuAnimIn3 0.4s ease;
    animation: MenuAnimIn3 0.4s ease;
}

.dl-menu.dl-animate-in-4 {
    -webkit-animation: MenuAnimIn4 0.4s ease;
    -moz-animation: MenuAnimIn4 0.4s ease;
    animation: MenuAnimIn4 0.4s ease;
}

.dl-menu.dl-animate-in-5 {
    -webkit-animation: MenuAnimIn5 0.4s ease;
    -moz-animation: MenuAnimIn5 0.4s ease;
    animation: MenuAnimIn5 0.4s ease;
}

@-webkit-keyframes MenuAnimIn1 {
    0% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes MenuAnimIn2 {
    0% {
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes MenuAnimIn3 {
    0% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes MenuAnimIn4 {
    0% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes MenuAnimIn5 {
    0% {
        -webkit-transform: translateY(40%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes MenuAnimIn1 {
    0% {
        -moz-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        -moz-transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        -moz-transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@-moz-keyframes MenuAnimIn2 {
    0% {
        -moz-transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}

@-moz-keyframes MenuAnimIn3 {
    0% {
        -moz-transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateZ(0px);
        opacity: 1;
    }
}

@-moz-keyframes MenuAnimIn4 {
    0% {
        -moz-transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateZ(0px);
        opacity: 1;
    }
}

@-moz-keyframes MenuAnimIn5 {
    0% {
        -moz-transform: translateY(40%);
        opacity: 0;
    }
    100% {
        -moz-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes MenuAnimIn1 {
    0% {
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes MenuAnimIn2 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes MenuAnimIn3 {
    0% {
        transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes MenuAnimIn4 {
    0% {
        transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes MenuAnimIn5 {
    0% {
        transform: translateY(40%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
    -webkit-animation: SubMenuAnimIn1 0.4s ease;
    -moz-animation: SubMenuAnimIn1 0.4s ease;
    animation: SubMenuAnimIn1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
    -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
    -moz-animation: SubMenuAnimIn2 0.3s ease-in-out;
    animation: SubMenuAnimIn2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
    -webkit-animation: SubMenuAnimIn3 0.4s ease;
    -moz-animation: SubMenuAnimIn3 0.4s ease;
    animation: SubMenuAnimIn3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
    -webkit-animation: SubMenuAnimIn4 0.4s ease;
    -moz-animation: SubMenuAnimIn4 0.4s ease;
    animation: SubMenuAnimIn4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
    -webkit-animation: SubMenuAnimIn5 0.4s ease;
    -moz-animation: SubMenuAnimIn5 0.4s ease;
    animation: SubMenuAnimIn5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn1 {
    0% {
        -webkit-transform: translateX(50%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimIn2 {
    0% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimIn3 {
    0% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimIn4 {
    0% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimIn5 {
    0% {
        -webkit-transform: translateZ(-200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        opacity: 1;
    }
}

@-moz-keyframes SubMenuAnimIn1 {
    0% {
        -moz-transform: translateX(50%);
        opacity: 0;
    }
    100% {
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}

@-moz-keyframes SubMenuAnimIn2 {
    0% {
        -moz-transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}

@-moz-keyframes SubMenuAnimIn3 {
    0% {
        -moz-transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateZ(0px);
        opacity: 1;
    }
}

@-moz-keyframes SubMenuAnimIn4 {
    0% {
        -moz-transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateZ(0px);
        opacity: 1;
    }
}

@-moz-keyframes SubMenuAnimIn5 {
    0% {
        -moz-transform: translateZ(-200px);
        opacity: 0;
    }
    100% {
        -moz-transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn1 {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn2 {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn3 {
    0% {
        transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn4 {
    0% {
        transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn5 {
    0% {
        transform: translateZ(-200px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
    -webkit-animation: SubMenuAnimOut1 0.4s ease;
    -moz-animation: SubMenuAnimOut1 0.4s ease;
    animation: SubMenuAnimOut1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
    -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
    -moz-animation: SubMenuAnimOut2 0.3s ease-in-out;
    animation: SubMenuAnimOut2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
    -webkit-animation: SubMenuAnimOut3 0.4s ease;
    -moz-animation: SubMenuAnimOut3 0.4s ease;
    animation: SubMenuAnimOut3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
    -webkit-animation: SubMenuAnimOut4 0.4s ease;
    -moz-animation: SubMenuAnimOut4 0.4s ease;
    animation: SubMenuAnimOut4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
    -webkit-animation: SubMenuAnimOut5 0.4s ease;
    -moz-animation: SubMenuAnimOut5 0.4s ease;
    animation: SubMenuAnimOut5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut1 {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(50%);
        opacity: 0;
    }
}

@-webkit-keyframes SubMenuAnimOut2 {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
}

@-webkit-keyframes SubMenuAnimOut3 {
    0% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
}

@-webkit-keyframes SubMenuAnimOut4 {
    0% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
}

@-webkit-keyframes SubMenuAnimOut5 {
    0% {
        -webkit-transform: translateZ(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-200px);
        opacity: 0;
    }
}

@-moz-keyframes SubMenuAnimOut1 {
    0% {
        -moz-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -moz-transform: translateX(50%);
        opacity: 0;
    }
}

@-moz-keyframes SubMenuAnimOut2 {
    0% {
        -moz-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -moz-transform: translateX(100%);
        opacity: 0;
    }
}

@-moz-keyframes SubMenuAnimOut3 {
    0% {
        -moz-transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -moz-transform: translateZ(-300px);
        opacity: 0;
    }
}

@-moz-keyframes SubMenuAnimOut4 {
    0% {
        -moz-transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -moz-transform: translateZ(300px);
        opacity: 0;
    }
}

@-moz-keyframes SubMenuAnimOut5 {
    0% {
        -moz-transform: translateZ(0);
        opacity: 1;
    }
    100% {
        -moz-transform: translateZ(-200px);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut1 {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(50%);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut2 {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut3 {
    0% {
        transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        transform: translateZ(-300px);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut4 {
    0% {
        transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        transform: translateZ(300px);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut5 {
    0% {
        transform: translateZ(0);
        opacity: 1;
    }
    100% {
        transform: translateZ(-200px);
        opacity: 0;
    }
}

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
    position: relative;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
    display: block;
}

.no-js .dl-menuwrapper li.dl-back {
    display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
    background: rgba(0,0,0,0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
    content: '';
}



/*account.html*/
.pay-way{position:relative;clear:both;margin-bottom:10px;}
.pay-way input, .pay-way img{position:relative;z-index:9;}
.pay-way img{height:36px;}
.pay-way .active{position:relative;}
.pay-way .active i{position:absolute;right:0;top:0;margin-right:20%;z-index:99;color:#060;font-size:24px;}

/**/
.layout-xs-box{position:relative;width:100%;margin-top:15px;}
.layout-xs-box img{position:relative;}
.layout-xs-box p{
    position:absolute;left:0;bottom:0;width:100%;height:32px;line-height:32px;text-align:center;color:#fff;
    background:url(../images/mobile/black40.png);
}
.home_ic{border:0px #FF0000 solid;height:46px !important;width:46px !important;}

